<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="./todo.css">
</head>
<body>
    <section id="main-section">
        <div class="left-part">
            <div class="heading">
                <h2>TASK LIST</h2>
                <p>Add tasks to your list by typing to the right and press&shy;ing enter. You may then view pending tasks below.</p>
            </div>
            <div id="tasks" class="tasks">
                <ul id="tasksList">
                    <!-- <li class="todoso">
                        <div class="liText">
                            <p>First Task</p>
                            <div class="actionsTodo">
                                <input type="checkbox" name="firstTask" id="firstTask">
                                <button type="button">✕</button>
                            </div>
                        </div>
                        <hr/>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="right-part">
            <input type="text" name="" id="todoText" placeholder="I need to...">
        </div>
    </section>
    <script src="./todo.js"></script>
</body>
</html>